menu{
    display: flex;
    width: 190px;
    float: right;
    justify-content: space-between;
    align-items: center;

    img{
        width: 30px;
        filter: brightness(0);
        cursor: pointer;
        &:hover{
            transition: .3s;
            filter: brightness(1);
        }
    }

    
}
#home{
        display: inline;
        float: right;
        width: 30px;
        filter: invert(0);
        cursor: pointer;
        &:hover{
            
            transition: .4s;
            filter: invert(1);
        }
    }
